# Set Operation

# Union

In [11]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [13]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [22]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [24]:
A & B

{4, 5}

In [28]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [57]:
A.intersection_update(B)
A

set()

# Difference

In [34]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [36]:
A -B

{1, 2, 3}

In [38]:
A.difference(B)

{1, 2, 3}

In [40]:
B - A

{6, 7, 8}

In [42]:
B.difference(A)

{6, 7, 8}

In [55]:
B.difference_update(A)
B

{4, 5}

# Symmetric Difference

In [47]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [49]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [51]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [53]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subet ,Superset & Disjoint

In [60]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [62]:
B.issubset(A)

True

In [64]:
A.issuperset(B)

True

In [66]:
B.isdisjoint(A)

False

# Other Builtin Functions

In [73]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
sum(A)

45

In [77]:
max(A)

9

In [79]:
min(A)

1

In [81]:
len(A)

9

In [83]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [85]:
D= sorted(A,reverse=True)

In [87]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

# Create Dictionary

In [93]:
mydict = dict()
mydict

{}

In [95]:
mydict = {}
mydict

{}

In [97]:
mydict = {1: 'one', 2: 'two', 3: 'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [111]:
mydict = dict({1: 'one' , 2: 'two', 3: 'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [113]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [115]:
mydict = {1:'one' , 'A':'two' , 3:'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [118]:
mydict.keys()

dict_keys([1, 'A', 3])

In [120]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [122]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [140]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}

In [148]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat' , 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [150]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'d': None, 'c': None, 'b': None, 'a': None}

In [152]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value)
mydict3

{'d': 10, 'c': 10, 'b': 10, 'a': 10}

In [154]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30]}

In [156]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

# Accessing Items

In [159]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [161]:
mydict[1]

'one'

In [163]:
mydict.get(1)

'one'

In [165]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [167]:
mydict1['Name']

'Asif'

In [171]:
mydict1.get('job')

'Analyst'

# Add, Remove & Change Items

In [202]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [204]:
mydict1['DOB'] = 1992
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [206]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [208]:
mydict1['Job'] = 'Analyst' 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [210]:
mydict1.pop('Job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [212]:
mydict1.popitem()

('Address', 'Delhi')

In [214]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [216]:
del[mydict1['ID']]
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [218]:
mydict1.clear()
mydict1

{}

In [220]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [223]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [225]:
mydict1 = mydict

In [227]:
id(mydict) , id(mydict1)

(2001199552640, 2001199552640)

In [229]:
mydict2 = mydict.copy()

In [231]:
id(mydict2)

2001199716288

In [233]:
mydict['Address'] = 'Mumbai'

In [235]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [237]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [239]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop Through a Dictionary

In [244]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [246]:
for i in mydict1:
    print(i , ':' , mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [250]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki
Analyst

# Dictionary Membership

In [253]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [255]:
'Name' in mydict1

True

In [257]:
'Asif' in mydict1

False

In [259]:
'ID' in mydict1

True

In [261]:
'Address' in mydict1

False

All / Any

In [264]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [266]:
all(mydict1)

True